scrap
.env
.vscode
!.keepme
*.drawio.bkp
compose.override.yml
data
cloud
backups
home
tmp
config/traefik/certs
config/traefik/htpasswd
config/fail2ban/db/fail2ban.sqlite3
config/wireguard/wg0.conf
config/sftpgo/homeuser/
config/plex/Preferences.xml
config/qbittorrent/qBittorrent.conf
config/radarr/config.xml
config/sonarr/config.xml
config/promtail/positions.yaml
config/traefik/dynamic/dynamic_conf.yml
config/traefik/dynamic/certs.yml
config/sftpgo/user.json
config/hosts/hosts
config/duplicati/Duplicati-server.sqlite
config/grafana/dashboards/overview-dashboard.json
config/jackett/ServerConfig.json
web/hosts
web/index.html