[submodule "config/dionaea/git"]
	path = config/dionaea/git
	url = https://github.com/DinoTools/dionaea.git
[submodule "config/plex/git"]
	path = config/plex/git
	url = https://github.com/plexinc/pms-docker.git
[submodule "config/qbittorrent/git"]
	path = config/qbittorrent/git
	url = https://github.com/tenseiken/docker-qbittorrent-wireguard.git
