${HOST_IP} sftpgo.${INTERNAL_DOMAIN}
${HOST_IP} traefik.${INTERNAL_DOMAIN}
${HOST_IP} grafana.${INTERNAL_DOMAIN}
${HOST_IP} prometheus.${INTERNAL_DOMAIN}
${HOST_IP} node-exp.${INTERNAL_DOMAIN}
${HOST_IP} duplicati.${INTERNAL_DOMAIN}
${HOST_IP} qbittorrent.${INTERNAL_DOMAIN}
${HOST_IP} jackett.${INTERNAL_DOMAIN}
${HOST_IP} radarr.${INTERNAL_DOMAIN}
${HOST_IP} sonarr.${INTERNAL_DOMAIN}
${HOST_IP} ${INTERNAL_DOMAIN}
