<html><head><meta charset="UTF-8"></head><body>
<h1>${EXTERNAL_DOMAIN}</h1>
📊 <a href="https://grafana.${INTERNAL_DOMAIN}:4443/d/edwqapvydmmf4b/overview?orgId=1&from=now-1h&to=now&refresh=5s" target="_new">Overview Dashboard</a><br>
📷 <a href="https://${EXTERNAL_DOMAIN}/photos" target="_new">Photo Gallery</a><br>
📺 <a href="https://${EXTERNAL_DOMAIN}:32400/" target="_new">Video Server</a><br>
☁️ <a href="https://github.com/klack/klack.cloud?tab=readme-ov-file#cloud-drive" target="_new">Setup Cloud Drive</a><br>
📄 <a href="https://github.com/klack/klack.cloud?tab=readme-ov-file#notebook-sync" target="_new">Notebook Sync</a><br>
💾 <a href="https://duplicati.${INTERNAL_DOMAIN}:4443/" target="_new">Manage Backups</a><br>
🌀 <a href="https://qbittorrent.${INTERNAL_DOMAIN}:4443/" target="_new">Manage Torrents</a><br>
📥 Download Managers
  <ul>
  <li><a href="https://jackett.${INTERNAL_DOMAIN}:4443/" target="_new">Searcher</a></li>
  <li><a href="https://sonarr.${INTERNAL_DOMAIN}:4443/" target="_new">TV</a></li>
  <li><a href="https://radarr.${INTERNAL_DOMAIN}:4443/" target="_new">Movies</a></li>
  </ul>
<a href="http://${HOST_IP}/hosts" target="_new">Hosts File</a><br>
</body><html>