<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>http://${INTERNAL_DOMAIN}</title>
  <style>
    body,
    html {
      height: 100%;
      display: flex;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
    }

    #links {
      font-size: 2em;
      line-height: 1.2
    }

    a {
      text-decoration: none;
    }

    #bottom {
      margin-top: auto;
      text-align: center;
      padding: 20px;
    }

    #bottom a {
      color: grey;
    }

    #video {
      display: block;
    }

    #download_managers {
      display: block;
    }

    #post-setup {
      display: none;
    }

    ul {
      margin-top: 0px;
      margin-left: 1em;
    }
  </style>
  <script>
    function checkHostReachability(url) {
      fetch(url, { mode: 'no-cors' })
        .then(response => {
          if (response.status === 401 || response.ok || response.type === 'opaque') {
            console.log("Host found");
            // Show the desired content
            document.getElementById("links").style.display = "block";
            document.getElementById("post-setup").style.display = "none";
            if (window.location.hostname !== `${INTERNAL_DOMAIN}`) {
              // Construct the URL for the internal domain, keeping the same path
              const newURL = `http://${INTERNAL_DOMAIN}`;

              // Redirect to the new URL
              window.location.href = newURL;
            }
          } else {
            console.log("Host not found");
            document.getElementById("links").style.display = "none";
            document.getElementById("post-setup").style.display = "block";
            // Schedule the next check
            setTimeout(() => checkHostReachability(url), 5000);
          }
        })
        .catch(error => {
          console.log("Host not found");
          document.getElementById("links").style.display = "none";
          document.getElementById("post-setup").style.display = "block";
          // Schedule the next check
          setTimeout(() => checkHostReachability(url), 5000);
        });
    }

    // Start the initial check
    checkHostReachability('http://${INTERNAL_DOMAIN}/');
  </script>
</head>

<body>
  <h1>${INTERNAL_DOMAIN}</h1>
  <div id="post-setup">
    <h2>Final Steps</h2>
    <ul>
      <li>Download <a href="http://${HOST_IP}/hosts.txt" target="_blank">Hosts File</a></li>
      <li><a href="https://github.com/klack/klack.cloud/wiki/Editing-your-Hosts-File" target="_blank">View
          Instructions</a></li>
    </ul>
  </div>
  <div id="links">
    📊 <a href="https://grafana.${INTERNAL_DOMAIN}:4443/d/edwqapvydmmf4b/overview?orgId=1&from=now-1h&to=now&refresh=5s"
      target="_blank">Dashboard</a><br>
    <div id="video">📺 <a href="https://${EXTERNAL_DOMAIN}:32400/" target="_blank">Video Server</a><br></div>
    📷 <a href="https://${EXTERNAL_DOMAIN}:2283/" target="_blank">Photo Gallery</a><br>
    📄 <a href="https://github.com/klack/klack.cloud?tab=readme-ov-file#sync-your-notes" target="_blank">Notebook
      Sync</a><br>
    ☁️ <a href="https://github.com/klack/klack.cloud?tab=readme-ov-file#setup-your-cloud-drive" target="_blank">Cloud
      Drive</a><br>
    💾 <a href="https://duplicati.${INTERNAL_DOMAIN}:4443/" target="_blank">Backups</a><br>
    <div id="download_managers">
      🌀 Download Managers
      <ul>
        <li><a href="https://qbittorrent.${INTERNAL_DOMAIN}:4443/" target="_blank">Torrents</a></li>
        <li><a href="https://sonarr.${INTERNAL_DOMAIN}:4443/" target="_blank">Search TV</a></li>
        <li><a href="https://radarr.${INTERNAL_DOMAIN}:4443/" target="_blank">Search Movies</a></li>
      </ul>
    </div>
  </div>
  <div id="bottom">
    <a href="https://traefik.${INTERNAL_DOMAIN}:4443/" target="_blank">Traefik</a>
    <a href="https://prometheus.${INTERNAL_DOMAIN}:4443" target="_blank">Prometheus</a>
    <a href="https://sftpgo.${INTERNAL_DOMAIN}:4443/" target="_blank">SFTPGo</a>
    <span class="downloaders"><a href="https://jackett.${INTERNAL_DOMAIN}:4443/" target="_blank">Jackett</a></span>
  </div>
</body>

<html>